{% load static %}

<div class="container position-relative text-center">
    <header class="position-relative text-center text-white mb-5">
        <img src="{% static 'images/banner.jpg' %}" class="w-100 dark-filter" alt="banner">
        <div class="position-absolute top-50 start-50 translate-middle-x w-100 px-3">
            <h1 class="display-4">Collection 2023</h1>
            <a href="#" class="btn btn-light">Find What's New</a>
        </div>
    </header>
    


    <h2 class="display-6 py-5">Most Popular</h2>

    <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row my-5" id="new">
        <div class="card md-2">
            <a href="#">
                <img src="{% static 'images/shirt1-1.jpg'%}"
                    class="card-img-top" 
                    height="300"
                    alt="product">
            </a>
            <div class="card-body">
                <p class="card-text">Shirt Regular Fit</p>
                <small class="text-secondary">29,99 EUR</small>
            </div>
        </div>
        <div class="card md-2">
            <a href="#">
                <img src="{% static 'images/shirt2-1.jpg'%}"
                    class="card-img-top" 
                    height="300"
                    alt="product">
            </a>
            <div class="card-body">
                <p class="card-text">Shirt Regular Fit</p>
                <small class="text-secondary">29,99 EUR</small>
            </div>
        </div>
        <div class="card md-2">
            <a href="#">
                <img src="{% static 'images/shirt3-1.jpg'%}"
                    class="card-img-top" 
                    height="300"
                    alt="product">
            </a>
            <div class="card-body">
                <p class="card-text">Shirt Regular Fit</p>
                <small class="text-secondary">29,99 EUR</small>
            </div>
        </div>
        <div class="card md-2">
            <a href="#">
                <img src="{% static 'images/shirt4-1.jpg'%}"
                    class="card-img-top" 
                    height="300"
                    alt="product">
            </a>
            <div class="card-body">
                <p class="card-text">Shirt Regular Fit</p>
                <small class="text-secondary">29,99 EUR</small>
            </div>
        </div>
    </div>

    <a href="" class="btn btn-outline-dark my-5">View all products</a>

    <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row my-5">
        <div class="position-relative m-2">
            <img src="{% static 'images/shirt7-1.jpg' %}" height="300" alt="shirts">
            <a href="#" class="btn btn-light position-absolute start-0 bottom-0 ms-2 mb-2 d-block">Shirts</a>
        </div>       
        <div class="position-relative m-2">
            <img src="{% static 'images/sweater1-1.jpg' %}" height="300" alt="shirts">
            <a href="#" class="btn btn-light position-absolute start-0 bottom-0 ms-2 mb-2 d-block">Sweater</a>
        </div>
        <div class="position-relative m-2">
            <img src="{% static 'images/tshirt1-1.jpg' %}" height="300" alt="shirts">
            <a href="#" class="btn btn-light position-absolute start-0 bottom-0 ms-2 mb-2 d-block">Tshirt</a>
        </div>
        <div class="position-relative m-2">
            <img src="{% static 'images/jacket1-1.jpg' %}" height="300" alt="shirts">
            <a href="#" class="btn btn-light position-absolute start-0 bottom-0 ms-2 mb-2 d-block">Jacket</a>
        </div>        

    </div>

    <div class="row text-start align-items-center gy-5 my-5">
        <div class="col-12 col-md-6">
            <img src="{% static 'images/brand.jpg' %}" class="w-100 h-100" alt="shirts">        
        </div>
        <div class="col-12 col-md-6">
            <h2 class="display-6">Our brand</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum labore maiores, qui, omnis ullam iste natus asperiores ipsum ex praesentium saepe odit laboriosam impedit officia reiciendis, accusantium eaque dolor eum.</p>
        </div>
    </div>
    <div class="row text-start align-items-center gy-5 my-5">       
        <div class="col-12 col-md-6">
            <h2 class="display-6">Awards</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum labore maiores, qui, omnis ullam iste natus asperiores ipsum ex praesentium saepe odit laboriosam impedit officia reiciendis, accusantium eaque dolor eum.</p>
        </div>
        <div class="col-12 col-md-6">
            <img src="{% static 'images/awards.jpg' %}" class="w-100 h-100" alt="shirts">        
        </div>
    </div> 

</div>

