{% extends 'global/main.html' %}
{% load static %}

{% block content %}

<div class="row container mt-4">
    <div class="col col-lg-9 text-start">
        <div class="col">

            <a href="{% url 'store:products'%}" class="btn btn-outline-dark">&#x2190; Continue Shopping</a>
        </div>
        <table class="table mt-4">
            <th>
                
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </th>
            {% for item in items %}
                <tr>
                    <td></td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.price|floatformat:2}} €</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.get_total}} €</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col col-3 text-start">
        
        <div class="card md-2">            
            <h3 class="card-header">Summary:</h3>
            <div class="card-body">
                <p class="card-text">
                    Items: {{order.get_cart_items}}
                </p>
                <p class="card-text">
                    <strong>
                        Order Total: {{order.get_cart_total|floatformat:2}} EUR
                    </strong>
                </p>
                <a class="btn btn-dark" href="{% url 'store:checkout' %}">Checkout</a>
            </div>
        </div>

    </div>
</div>

{% endblock content %}