{% extends 'global/main.html' %}
{% load static %}

{% block content %}

<div class="row container">
    <div class="col col-lg-3 text-start">
        <h3>Clothing</h3>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link text-muted">Shirt</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-muted">Sweater</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-muted">T-shirt</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-muted">Jacket</a>
            </li>
        </ul>
    </div>

    <div class="col col-9 d-flex flex-wrap justify-content-between">

        {% for product in products %}        
        <div class="card m-2">
            
            {% if  product.image %}
            <a href="{% url 'store:product' product.id %}">  
                <img src="{{ product.image.url }}" 
                class="card-img-top" heighst="300" alt="product">
            </a>
            {% endif %}
            <div class="card-body">
                <p class="card-text">{{product.name}}</p>
                <small class="text-secondary">
                        {{product.price|floatformat:2}} EUR
                    </small>
                </div>
        </div>    
        {% endfor %}   
    </div>

</div>

{% endblock content %}