{% extends 'global/main.html' %}
{% load static %}

{% block content %}

<div class="row py-5 g-5">
    <div class="col-12 col-lg-6">
      {{product.id}}

      {% if product.image %}      
      <img    src="{{ product.image.url }}"  
      class="m-1 w-100 sliderMainImage" 
      data-bs-toggle="modal" 
      data-bs-target="#imageModal" 
      alt="product">
      {% endif %}
      
      {% comment %} <div>
        <img    src="{% static 'images/jacket1-2.jpg' %}"  
        width="60"
        class="m-1 sliderThumb"
        alt="product">
        <img    src="{% static 'images/jacket1-3.jpg' %}"  
        width="60"
        class="m-1 sliderThumb"
        alt="product">
        </div> {% endcomment %}
      </div>

    <div class="col-12 col-lg-6">
        <h2 id="productName">{{product.name}}</h2>
        <small class="text-muted">Article: 24344</small>
        <h4 class="my-4">EUR
            <span id="price">{{product.price}}</span>
            €
        </h4>
        <lable class="text-muted" for="selectedSize" id="size">Size: </lable>
        <select name="selectSize" id="size" class="form-select">
            <option selected>S</option>
            <option value="1">M</option>
            <option value="2">XL</option>
            <option value="3">XXL</option>
        </select>
        <div class="d-grid my-4">
            <button class="btn btn-dark btn-lg" type="button" id="bagBtn">Add to Bag</button>
        </div>
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Description
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Introducing our premium shirt, crafted with utmost care and precision. Made from soft and breathable cotton fabric, this shirt guarantees comfort throughout the day. Its versatile design effortlessly transitions from casual to formal occasions, making it a wardrobe essential. Embrace style and sophistication with our timeless shirt that promises to elevate your fashion game.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Delivery and returns
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          At Fashionhub, we are committed to providing a seamless shopping experience. Enjoy swift and reliable delivery of your favorite fashion pieces right to your doorstep. Our hassle-free returns policy ensures you can shop with confidence, allowing you to exchange or return items effortlessly. Your satisfaction is our top priority, making Fashionhub your ultimate destination for stylish and stress-free shopping.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Size and Fit
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Discover the perfect fit with our size guide. We understand the importance of finding the right size for your body shape, which is why our comprehensive size chart ensures a tailored fit every time. Embrace confidence in clothes that flatter your silhouette and provide unparalleled comfort. From S to XXL, we've got you covered with sizes that embrace all body types. Shop with ease, knowing you'll look and feel your best in our thoughtfully designed garments.
                        </div>
                      </div>
                    </div>                    
                  </div>
            </div>
        </div>        
    </div>     
</div>

<h2 class="display-6 py-5 text-center">You May Also Like</h2>

<div class="d-flex justify-content-between align-items-center flex-column flex-lg-row container">

    <div class="card md-2">
        <a href="#">
            <img src="{% static 'images/jacket1-1.jpg' %}"  class="card-img-top" height="300" alt="product">
        </a>
        <div class="card-body">
            <p class="card-text">Brown Jacket</p>
            <small class="text-secondary">29,99 EUR</small>
        </div>
    </div>
    <div class="card md-2">
        <a href="#">
            <img src="{% static 'images/jacket1-1.jpg' %}"  class="card-img-top" height="300" alt="product">
        </a>
        <div class="card-body">
            <p class="card-text">Brown Jacket</p>
            <small class="text-secondary">29,99 EUR</small>
        </div>
    </div>
    <div class="card md-2">
        <a href="#">
            <img src="{% static 'images/jacket1-1.jpg' %}"  class="card-img-top" height="300" alt="product">
        </a>
        <div class="card-body">
            <p class="card-text">Brown Jacket</p>
            <small class="text-secondary">29,99 EUR</small>
        </div>
    </div>
    <div class="card md-2">
        <a href="#">
            <img src="{% static 'images/jacket1-1.jpg' %}"  class="card-img-top" height="300" alt="product">
        </a>
        <div class="card-body">
            <p class="card-text">Brown Jacket</p>
            <small class="text-secondary">29,99 EUR</small>
        </div>
    </div>
    
</div>




{% endblock content %}