{% load static %}
<footer class="d-flex justify-content-between my-5 text-start flex-wrap">
    <ul class="nav flex-column">
        <li class="fw-bold nav-item">
            <a href="{% url 'store:products' %}" class="nav-link text-dark">Products</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="{% url 'store:category' 1%}" class="nav-link text-muted">Shirt</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="{% url 'store:category' 2%}" class="nav-link text-muted">Sweater</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="{% url 'store:category' 3%}" class="nav-link text-muted">T-shirt</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="{% url 'store:category' 4%}" class="nav-link text-muted">Jacket</a>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="fw-bold nav-item">
            <a href="#" class="nav-link text-dark">Help</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="#" class="nav-link text-muted">Shopping Guide</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="#" class="nav-link text-muted">Contact Us</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="#" class="nav-link text-muted">Help</a>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="fw-bold nav-item">
            <a href="#" class="nav-link text-dark">Content</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="#" class="nav-link text-muted">Blog</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="#" class="nav-link text-muted">Contact Us</a>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="fw-bold nav-item">
            <a href="#" class="nav-link text-dark">Terms & Conditions</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="#" class="nav-link text-muted">Legal Notice</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="#" class="nav-link text-muted">Terms of Use</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="#" class="nav-link text-muted">Privacy Policy</a>
        </li>
        <li class="bw-bold nav-item">
            <a href="#" class="nav-link text-muted">Cookies Policy</a>
        </li>
    </ul>
</footer>
