.navbar {
    z-index: 100;
}

body {
    padding-top: 8rem;
}

.sliderFade {
    animation: fade 0.5s ease
}

.sliderThumb, .sliderMainImage {
    cursor: pointer;
}

@keyframes fade{
    0% {opacity: 0;}
    100% {opacity: 100;}
}

.dark-filter {
    filter: brightness(80%) opacity(0.85);
}